@charset "UTF-8";

/*
 * Font:    Cantarell-Regular
 * Author:  Abattis
 * license: http://www.gnu.org/copyleft/gpl.html
 */
@font-face {
  font-family: "Cantarell-Regular";
  src: url("../font/cantarell-regular.eot");
  src: local("Cantarell Regular"), local("Cantarell-Regular"), url("../font/cantarell-regular.ttf") format("truetype");
}

/*
 * Font:    Vollkorn
 * Author:  FRiTZe
 * license: http://creativecommons.org/licenses/by/2.0/
 */
@font-face {
  font-family: "Vollkorn";
  src: url("../font/vollkorn.eot");
  src: local("Vollkorn"), url("../font/vollkorn.otf") format("opentype");
}

/*
 * Font:    AurulentSansMono-Regular
 * Author:  Stephen G. Hartke
 * license: http://scripts.sil.org/OFL
 */
@font-face {
  font-family: "AurulentSansMono-Regular";
  src: url("../font/aurulentsansmono-regular.eot");
  src: local("AurulentSansMono-Regular"), url("../font/aurulentsansmono-regular.otf") format("opentype");
}
