body {
  margin: 0px 0px 0px 0px;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Lucida Grande', 'Trebuchet MS', Helvetica, san-serif;
}

h1 {
  margin-bottom: 0;
  padding: 5px 5px 5px 5px;
  border-top: 2px solid #0066cc;
  border-bottom: 1px solid #0066cc;
  color: #0066cc;
  background-color: #ffffff;
  font-size: 1.2em;
  text-align: center;
}

h2 {
  margin-top: 3em;
  margin-bottom: 0;
  padding: 5px 5px 0px 5px;
  border-left: 5px solid #0066cc;
  color: #0066cc;
  background-color: #ffffff;
  font-size: 1em;
}

h3 {
  margin-top: 3em;
  margin-bottom: 0;
  color: #0066cc;
  background-color: #ffffff;
  font-size: 0.9em;
  line-height: 1.5;
}

h4 {
  margin-bottom: 0;
  color: #0066cc;
  background-color: #ffffff;
  font-size: 0.9em;
  line-height: 1.5;
}

dt {
  padding-top: 0em;
  color: #666666;
  background-color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
}

dd {
  margin-left: 1em;
  font-size: 1em;
}

li {
  font-size: 1em;
  line-height: 1.5;
}

ul.mid {
  font-size: 0.9em;
  line-height: 1.5;
}

a, a:visited, a:hover, a:active {
  color: #333333;
  background-color: transparent;
}

a.bl, a:visited.bl, a:hover.bl, a:active.bl {
  color: #0066ff;
  background-color: transparent;
}

p {
  margin-top: 0.5em;
  font-size: 0.9em;
  line-height: 1.5;
}

p.it {
  font-style: italic;
}

.nextLink {
  text-align: right;
}

pre {
  color: #0066FF;
  background-color: #ffffff;
  font-size: 0.9em;
  line-height: 1.5;
}

.en {
}

#frame {
  border: 0;
  width: 100%;
}

#menu {
  padding: 10px 10px 10px 10px;
  border-right: 1px dotted #333333;
  width: 25%;
  vertical-align: top;
}

#contents {
  padding: 10px 20px 20px 20px;
  width: 75%;
  vertical-align: top;
}

.bl {
  color: #0066FF;
  background-color: #ffffff;
}

.be {
  color: #0066FF;
  background-color: #ffffff;
}

.se {
  color: #333333;
  background-color: #ffffff;
}

#footer {
  border-top: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
  font-size: 0.8em;
  text-align: center;
}

#header {
  padding: 5px 5px 5px 5px;
  color: #ffffff;
  background-color: #0066cc;
  font-size: 1.2em;
  font-weight: bold;
}

#author {
  border-top: 1px dotted #666666;
  text-align: center;
}

div.figure {
  border: 0;
  text-align: center;
}

a.anc {
  color: #0066cc;
  background-color: transparent;
}

.undl {
  text-decoration: underline;
}
